The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. Print the average of the marks array for the student name provided, showing 2 places after the decimal.

The first line contains the integer n, the number of students' records. The next n lines contain the names and marks obtained by a student, each value separated by a space. The final line contains query_name, the name of a student to query.

#### Sample input

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika

#### Sample output

In [ ]:
56.00

#### Explanation

Marks for Malika are{52,56,60}  whose average is (52+56+60)/3 = 56

In [13]:
if __name__ == '__main__':
    n = int(input("Enter number of students: "))   
    student_marks = {}             # Make empty list
    for i in range(n):             # loop executes n times.
        name, *line = input().split()   # Two veriables name and line,In Name veriable only one parameter but in line as much as i want.
        scores = list(map(float, line))   # type of line is str.in map we convert line to float.and store in score variable.
        student_marks[name] = scores       # in dict student_marks key is name and value score.
    query_name = input("Enter query name: ")  # 
    marks=student_marks[query_name] # marks= values of key which entered as query name.
    print(format(sum(marks)/3,'.2f'))   # format(value,'.nf') ; here n is number of decimal

Enter number of students: 3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Enter query name: Malika
56.00

In [ ]:
if __name__ == '__main__':
    n = int(input("Enter number of students: "))
    student_marks = {}
    for i in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input("Enter query name: ")
    
    if query_name in name:

In [1]:
if __name__ == '__main__':
    n = int(input("Enter number of students: "))
    student_marks = {}
    for i in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores

Enter number of students: 3
vikas
54
55

In [5]:
n=int(input("Enter number of students: "))
marks={}
for i in range(n):
    name=input("Enter name: ")
    *mark1=int(input("Enter marks: "))
    marks[name]=mark1
print(marks)

Enter number of students: 3

SyntaxError: starred assignment target must be in a list or tuple (<ipython-input-5-da673b5956d0>, line 5)

In [3]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [8]:
name,*line=input().split() # split:- discard empty strings from the result.
print('name',name)
print('line',line)

vk 88 55 22
name vk
line ['88', '55', '22']

In [10]:
name,*line=input().split()
print('name',name)
print('line',line)
score=list(map(float,line))
print(score)

vikas 85,77,99
name vikas
line ['85,77,99']

ValueError: could not convert string to float: '85,77,99'

In [ ]:
3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika

In [14]:
print(__name__)

__main__

In [6]:
help('split')

No Python documentation found for 'split'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [7]:
help(str.split)

Help on method_descriptor:

split(self, /, sep=None, maxsplit=-1)
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.